.Chat-main
  .RightHeader
    .RightHeader__Group
      .RightHeader__GroupName
        = @group.name
      %ul.RightHeader__MemberList
        Member：
        %li.RightHeader__Memder
          - @group.users.each do |user|
            =user.name
    =link_to edit_group_path(@group) ,class: "RightHeader__EditButton" do
      Edit
  .MessageField
    = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__Contents
        = f.text_field :content, class: 'Form__Content', placeholder: 'type a message'
        = f.label :image, class: 'Form__Image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__Submit'